*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape{
    margin: 10px 10px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
     display: flex;
     align-items: center;
    justify-content: center;
}

#circle{
    /* background-color: green; */
    border-radius: 50px;
}
#circle:hover{
    background-color: green;
    /* border-radius: 50px; */
}

#rec:hover{
   background-color: blue;
}

#dimond{
    rotate: 45deg;
    margin-top: 30px;
}
#dimond:hover{
   background-color: brown;
}
#dimond h1{
    rotate: -45deg;
}
h1{
    font-weight: lighter;
    font-size:x-large;
}